<div class="mercury-snippet-panel">
  <div class="filter">
    <input class="filter" type="text">
  </div>
  <ul>
    <li data-filter="name-snippet">
      <img alt="Mottagarens namn" data-snippet="person_name" src="/assets/mercury/default-snippet.png"/>
      <h4>Mottagarens namn</h4>
      <div class="description">Mottagarens namn visas i mailet. t.ex "Kim F"</div>
    </li>
  </ul>
</div>