<div id="content">
	<div id="newsletter" data-id="<%=@newsletter.id%>">
		<h2 id="title" class="mercury-region" data-type="markupable"><%= @newsletter.title.html_safe %></h2>
		<div id="body" class="mercury-region" data-type="editable"><%=	@newsletter.body.html_safe %></div>
	</div>
</div>
<%= render 'sidebar' %>